<nav dir="rtl" class="navbar navbar-expand-lg navbar-light bg-light text-right navbarCustom mb-4">
    <a class="navbar-brand " routerLink="/"><i class="fa fa-leaf text-success" aria-hidden="true"></i></a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-success" routerLink="/profile">موجودی آوند : 10000</a>
        </li>
    </ul>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item  mr-auto">
            <a class="nav-link text-success" routerLink="/profile"> امتیاز : 999</a>
        </li>
    </ul>
</nav>