<nav dir="rtl" class="navbar navbar-expand-lg navbar-light bg-light text-right navbarCustom fixed-bottom">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-success" routerLink="/profile"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <button (click)="payment()" class="btn btn-outline-success" >پرداخت</button>
                    <!-- <input type="button" class="btn btn-outline-success" value="پرداخت"> -->
                </li>
            </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item  mr-auto">
                <a class="nav-link text-success" routerLink="/wallet"><i class="fa fa-briefcase" aria-hidden="true"></i></a>
            </li>
        </ul>
</nav>
